@tailwind base;
@tailwind components;
@tailwind utilities;

/****** font family  ******/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1,h2,h3,h4,h5,h6,p{
  font-family: "Roboto", sans-serif;
}

/****** header css ******/
header.fixed{
  background-color: #fff;
  padding: 15px 0px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
header.fixed .menu nav ul li a{
  color: #000 !important;
}
.menu nav ul li a{
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.menu nav ul li a:hover{
   color: #F7BE27 !important;
   transition: all ease-in-out 0.3s ;
}
.cart-data a{
  position: relative;
}
.cart-data span{
  background-color: red;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header.fixed .cart-data a svg {
  color: #000 !important;
}
header.fixed .logo {
  width: 90px !important;
}
header.fixed .sign-btn button{
   border-color: 1px solid rgb(0, 0, 0) !important;
   color: #000 !important;
 }


/******* Slider csss *******/
.custom-swiper {
  height: 650px; /* Set height of the Swiper container */
}
.heading-text{
  font-family: "Lilita One", sans-serif;
  font-weight: 900;
}
.custom-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px; /* Set height of each slide */
  color: white; /* Add text color if needed */
}

.swiper-button-next {
  height: 40px !important;
  width: 40px !important;
  background-color: #fff !important;
  border-radius: 50%;
  opacity: 0;
}
 .swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  background-color: #fff !important;
  border-radius: 50%;
  opacity: 0;
}

.swiper-button-next::after  {
  color: rgb(62, 62, 62);
  font-size: 15px !important;
}
.swiper-button-prev::after {
  color: rgb(62, 62, 62);
  font-size: 15px !important;
}
.custom-swiper:hover .swiper-button-next , .custom-swiper:hover .swiper-button-prev {
  opacity: 1;
  transition: all ease-in-out 0.3s;
}

/******* button *******/
.my-btn{
  border: 1px solid red !important;
}
.my-btn:hover{
  border: 1px solid red !important;
  background-color: transparent !important;
  color: red !important;
  transition: 0.5 all ease-in-out ;
}

/**** product css ******/
.product-box ul li.active img{
   opacity: 1;
}
.product-box ul li.active h3{
  color: red !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: red !important;
}
span.price{
  background-color: #642f21;
  color: #f7be27;
  padding: 8px 12px ;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
}

.custom-shadow{
    margin-bottom: 0;
    padding: 25px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(0 26 112 / 10%);

}




/*** testimonial css*****/
.testimonial-swiper {
  height: 550px;
}
.testimonial-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px; /* Set height of each slide */
  color: white; /* Add text color if needed */
}

/* logo carousel */
.custom-swiper-slider{
  height: 280px;
}
.custom-swiper-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* Set height of each slide */
  color: white; /* Add text color if needed */
}

/******** responsive css *********/
@media (max-width : 576px) {
  .custom-swiper {
    height: 350px; /* Set height of the Swiper container */
  }
  .custom-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Set height of each slide */
    color: white; /* Add text color if needed */
  }

  .banner1, .banner2{
    margin: 0px 10px;
    
  }
}

@media (max-width : 400px) {
.product-box{
  width: 430px !important;
}
.header-part p{
  text-align: left !important;
  padding: 0px 10px;
  max-width: 380px !important;
}
}




